{% load static %}
<!DOCTYPE html>

<html lang="uk">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37797321-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-37797321-2');
        </script>
        <meta charset="UTF-8" />
        <title>Судова експертиза</title>

        <link rel="apple-touch-icon shortcut icon" sizes="58x45" href="{{ PORTAL_URL }}{% static 'estate-search.png' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" />
         <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/home.css' %}" type="text/css">
    </head>

    <body>
        <div class="container-fluid" id="homeContainer">
            <div class="row standart-row" id="mainHeader">
                <div class="col">
                    <h3>Судовий експерт, оцінювач</h3>
                    <h2>Власюк Володимир Володимирович</h2>
                    <p>Кваліфікаційне свідоцтво № 18-21/П від 22.04.2021р, видане рішенням центральної експертно-кваліфікаційної комісії Міністерства Юстиції України, строк дії до 22.04.2024р. Досвід роботи з 2012 року.</p>
                    <span>Див. <a class="text-dark" href="https://rase.minjust.gov.ua/search/getForm" target="_blank">реєстр атестованих судових експертів</a></span></br>
                    <p>Кваліфікаційне свідоцтво оцінювача МФ № 8053 від 10.12.2011р, видане Фондом державного майна України</p>
                    <a id="infoButton" class="btn btn-outline-dark btn-lg" href="#mainInfo" role="button">
                        <i class="bi bi-arrow-down-square"></i>
                        Більше інформації
                    </a>
                    <a id="contactButton" class="btn btn-outline-info btn-lg" href="#contactInfo" role="button"><i class="bi bi-telephone"></i> Контакти</a>
                </div>
            </div>
            <div class="row standart-row" id="mainInfo">
                <div class="col">
                    <ul class="mt-1" id="workInfo"><h3>Напрямки роботи:</h3>
                        <li><a href="#" class="text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" id="orderInfo" aria-controls="collapseOne">Проведення судових експертиз за ухвалою суду або за зверненням сторони провадження</a>
                        </li>
                        <div id="collapseOne" class="collapse card" aria-labelledby="headingOne" data-parent="#workInfo">
                            <div class="card-body pt-0 pb-0 m-0">
                                <ul class="collapse-info mb-3">
                                    <li>
                                        <span class="second-info">
                                        <ol class="mb-0 p-0">Відповідно до статті 103 Цивільного процесуального кодексу України судом може бути призначена експертиза за сукупності таких умов:
                                            <li>для з’ясування обставин, що мають значення для справи, необхідні спеціальні знання у сфері іншій, ніж право, без яких встановити відповідні обставини неможливо;</li>
                                            <li>сторонами (стороною) не надані відповідні висновки експертів із цих самих питань або висновки експертів викликають сумніви щодо їх правильності.</li>
                                        </ol>
                                        </span>
                                    </li>
                                    <li><p class="second-info">
                                        Відповідно до статті 106 Цивільного процесуального кодексу України учасник справи має право подати до суду висновок експерта, складений на його замовлення</p>
                                    </li>
                                    <li><p class="second-info">
                                        Необхідно звернути увагу, що замовити судову експертизу має право тільки <strong>учасник справи</strong>, в іншому випадку проводиться експертне дослідження</p>
                                    </li>
                                    <li><p class="second-info">
                                        З орієнтовним переліком питань, які можливо поставити на вирішення судової будівельно-технічної, земельної-технічної або оціночно-будівельної експертизи можливо ознайомитись в <a href="https://zakon.rada.gov.ua/laws/show/z0705-98#Text" class="text-dark" target="_blank">Науково-методичних рекомендаціях з питань підготовки та призначення судових експертиз та експертних досліджень</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <li><a href="#" class="text-dark" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" id="reserchInfo" aria-controls="collapseTwo">Проведення експертних досліджень за зверненням фізичних та юридичних осіб</a>
                        </li>
                        <div id="collapseTwo" class="collapse card" aria-labelledby="headingTwo" data-parent="#workInfo">
                            <div class="card-body pt-0 pb-0 m-0">
                                <ul class="collapse-info mb-3">
                                    <li><p class="second-info">Експертне дослідження проводиться на замовлення фізичної або юридичної особи з обов'язковим укладенням відповідно договору, в якому зазначається перелік поставлених на вирішення дослідження питань та об'єктів, що підлягають дослідженню</li>
                                    <li><p class="second-info">За результатами проведення експертного дослідження скаладається висновок експерта, який за формою та змістом в цілому не відрізняється від висновку експерта за результатами проведення судової експертизи. У висновку зазначається про обізнаність експерта з кримінальною відповідальністю за надання завідомо неправдивого висновку</li>
                                    <li><p class="second-info">
                                        З орієнтовним переліком питань, які можливо поставити на вирішення будівельно-технічного, земельно-технічного або оціночно-будівельного дослідження можливо ознайомитись в <a href="https://zakon.rada.gov.ua/laws/show/z0705-98#Text" class="text-dark" target="_blank">Науково-методичних рекомендаціях з питань підготовки та призначення судових експертиз та експертних досліджень</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <li><a href="#" class="text-dark" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" id="reserchInfo" aria-controls="collapseThree">Оцінка збитків, завданих пожежею, залиттям або в результаті іншої події</a>
                        </li>
                        <div id="collapseThree" class="collapse card" aria-labelledby="headingThree" data-parent="#workInfo">
                            <div class="card-body pt-0 pb-0 m-0">
                                <ul class="collapse-info mb-3">
                                    <li><p class="second-info">Для проведення дослідення стосовно визначення майнової шкоди, завданої в результаті події (залиття, пожежі, автопригоди, руйнування конструкції, дій третіх осіб) перш за все необхідно надати документи, які фіксують дату та місце події, а також містять загальний опис пошкоджень, що в результаті такої події були спричинені</li>
                                    <li><p class="second-info">Майнова шкода визначається в рамках проведення будівельно-технічної експертизи (або дослідження), яка враховує відновлення усіх конструкцій будівлі: несучих елементів (фундаменту, стін, перекриття, даху, покрівлі), підлоги, вікон, дверей, оздоблення, інженерних мереж, та не включає затрати на ремонт або придбання меблів, побутової техніки, елементів домашнього інтер'єру</li>
                                </ul>
                            </div>
                        </div>
                        <li>Визначення можливості розподілу об'єктів нерухомості</li>
                        <li>Оцінка відповідності об'єктів будівництва вимогам ДБН</li>
                        <li>Встановлення факту порушення меж землекористування</li>
                    </ul>
                    <ul><h3>Експертні спеціальності:</h3>
                        <li>10.6 "Дослідження об'єктів нерухомості, будівельних матеріалів, конструкцій та відповідних документів"</li>
                        <li>10.7 "Розподіл земель та визначення порядку користування земельними ділянками"</li>
                        <li>10.10 "Визначення оціночної вартості будівельних об'єктів та споруд"</li>
                        
                    </ul>
                </div>
            </div>

            <div class="row standart-row" id="contactInfo">
                <div class="col-12 text-center">
                    <div class="horizontal-line"></div>
                    <i class="fa fa-info-circle fa-2x info-icon" aria-hidden="true"></i>
                    <h4 class="map-header">Контакти</h4>
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-12">
                            <i class="fa fa-address-card-o fa-1x mb-2" aria-hidden="true"></i>
                            <p class="contact-header">Адреса</p>
                            <p class="contact-info">29007,</br> м. Хмельницький, вул. Соборна, 57, оф. 310</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12">
                            <i class="fa fa-phone fa-1x mb-2" aria-hidden="true"></i>
                           <p class="contact-header">Телефон</p>
                           <p class="contact-info">097-749-28-34</p>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12">
                            <i class="fa fa-envelope-o fa-1x mb-2" aria-hidden="true"></i>
                            <p class="contact-header">E-mail</p>
                             <a class="contact-info" href="mailto:vlasyuk@budexpert.pp.ua">vlasyuk@budexpert.pp.ua</a>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-12">
                            <i class="fa fa-clock-o fa-1x mb-2" aria-hidden="true"></i>
                            <p class="contact-header">Розклад роботи</p>
                            <p class="contact-info">Пн-Пт: з 10.00 до 17.00</p>
                        </div>
                        <div class="col-12">
                            <i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>
                           <h4 class="map-header">Карта проїзду</h4>
                           <div id="google-map">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d648.8194823462868!2d26.980555088145366!3d49.42255937105826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473207fbc81008d7%3A0x88f5aeeefa03b3f7!2z0KHRg9C00L7QstC40Lkg0LXQutGB0L_QtdGA0YIg0JLQu9Cw0YHRjtC6INCSLtCSLg!5e0!3m2!1suk!2sua!4v1579330640649!5m2!1suk!2sua" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="beforeFooter" />
            <div class="row" id="homeFooter">
                <div class="col-11">
                    <p>Власюк В.В. &copy;</p>
                </div>
                <div class="col-1">
                    <a class="text-dark" href="{% url 'freports:reports_list' %}">&#x21F2</a>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#mainHeader").on("click","a", function (event) {
                    event.preventDefault();
                    var id  = $(this).attr('href'),
                    top = $(id).offset().top;
                    $('body,html').animate({scrollTop: top}, 1000);
                });
            });
        </script>
    </body>
</html>
