{% load static %}

<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <title>Судова експертиза</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" />
         <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'main.css' %}" type="text/css">
    </head>

    <body>
        <div class="container">
            <div class="row" id="main-header">
                <div class="col">
                    <a type="button" class="btn btn-link" href="{% url 'business_card_first_page' %}">На головну сторінку</a>
                    <p></p>
                    <p><b>Судовий експерт Власюк Володимир Володимирович</b></p>
                    <p>Кваліфікаційне свідоцтво №1566 від 23.03.2012р, видане рішенням центральної
                        експертно-кваліфікаційної комісії Міністерства Юстиції України, строк дії до 20.03.2018р</p>
                    <p>Див. <a href="http://rase.minjust.gov.ua/">реєстр атестованих судових експертів</a></p>
                    <ul>Сфера вирішуваних питань:
                        <li>розподіл будівель та земельних ділянок;</li>
                        <li>відповідність будівель, споруд та будівельних конструкцій державним будівельним нормам;</li>
                        <li>оцінка житлової та нежитлової нерухомості;</li>
                        <li>порушення меж та накладки земельних ділянок;</li>
                        <li>розмір майнової шкоди, завданої залиттям, пожежею або стихійним лихом</li>
                    </ul>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-11">Далі буде...</div>
                <div class="col-1"><a href="{% url 'forensic_reports_list' %}">&#x21F2</a></div>
            </div>
        </div>

    </body>
</html>
