{% extends "freports/base.html" %}

{% block title %}

<div class="col">
    <span class="h1">Записи невдалих спроб входу</span>
</div>

{% endblock title %}

{% block content %}

{% if not request.GET.show %}
<a class="btn btn-outline-info mb-3" href="{% url 'login:attempts' %}?show=all">Показати усі</a>
{% else %}
<a class="btn btn-outline-warning mb-3" href="{% url 'login:attempts' %}">Показати тільки невдалі</a>
{% endif %}

{% if attempts %}
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th>Використане ім'я користувача</th>
            <th>Час останньої спроби</th>
            <th>Кількість невдалих спроб</th>
            <th>IP адреса</th>
            <th>Детальні дані</th>
        </tr>
    </thead>

    <tbody>
        {% for attempt in attempts %}
        <tr>
            <td>{{ attempt.username }}</td>
            <td>{{ attempt.attempt_time }}</td>
            <td>{{ attempt.failures_since_start }}</td>
            <td>{{ attempt.ip_address }}</td>
            <td>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse{{ attempt.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ attempt.id }}">
                Дивитись
                </a>
            </td>
        </tr>
        <tr class="collapse" id="collapse{{ attempt.id }}">
            <td colspan="5">
                <p>Браузер користувача - {{ attempt.user_agent }}</p>
                <ul>Спроби входу: 
                    {% for row in attempt.new_post_data %}
                    <li>{{ row }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}  
    </tbody>
</table>

<a class="btn btn-outline-danger mt-2" href="{% url 'login:attempts_delete' %}">Видалити давні спроби входу</a>


{% else %}
<p>На цей момент дані відсутні</p>
{% endif %}

{% endblock content %}