/* home page */
.standart-row {
  padding: 1% 4%;
  min-height: 20%;
  font-size: 2.5vh;
}

/*#home-header {
  background-image: url(./../background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #007bff;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#home-header h1 {
  font-size: 2em;
  /*margin-top: 5%;
}

#header-info {
  font-family: Foglihten Regular, Georgia, fantasy, serif;
  font-size: 1em;
  padding-left: 10%;
  padding-top: 1%;
}

#header-info p {
  margin-bottom: 0;
}*/

#mainInfo {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-size: 1.3em;
}

#mainInfo h2 {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 1.5em;
}

.horizontal-line {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#map-icon {
  top: -1.5rem;
  left: 47%;
  width: 6%;
  text-align: center;
  background-color: white;
  position: relative;
}

.map-header {
  font-family: Georgia, sans-serif;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#map {
    margin: 1rem auto 1rem auto;
    height: 30%;  /* The height is 400 pixels */
    width: 80%;  /* The width is the width of the web page */
}

.contact-info {
  width: 60%;
  margin: 0 auto;
  color: gray;
  font-size: 0.8em;
}