/* home page */
html, body, .container-fluid {
  height: 100%;
  color: darkslategray;
}

h1, h2, h3, h4 {
  font-family: Noto Sans JP, sans-serif;
}

#mainHeader {
  background-color: ghostwhite;
  color: black;
}

#mainInfo {
  font-family: Georgia, sans-serif;
  font-style: italic;
  font-size: 1.3em;
}

.info-icon {
  background-color: white;
  margin: -5rem 0 1rem 0;
}

.horizontal-line {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
  margin-top: 5rem;
}

.contact-info {
  width: 60%;
  color: gray;
}


@media (max-width: 1000px) {

  .standart-row {
    padding: 1% 10%;
    font-size: 2.5vh;
    min-height: 100%;
  }
  
  #mainHeader .col {
    margin: auto 0;
  }

  #mainHeader h3 {
    font-size: 6vw;
  }

  #mainHeader h2 {
    margin-top: 2rem;
    font-size: 10vw;
  }

  #mainHeader p, #mainHeader span {
    font-size: 5vw;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  #infoButton, #contactButton {
    display: none;
  }

  #mainInfo, #contactInfo {
    margin-top: 3rem;
  }

  #mainInfo li {
    padding: 0.4rem 0;
  }

  #mainInfo h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
  }

  ul, p {
    font-size: 4.2vw;
  }

  .fa-1x {
    font-size: 3rem;
  }

  .contact-info {
    width: 60%;
    margin: 3vw auto;
  }

  h4.map-header {
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
  }

   #google-map {
    margin: 1rem auto 1rem auto;
    height: 100vw;
    width: 100%;
    text-align: center;
  }

  #google-map iframe {
    height: 100%;
    width: 100%;
  }

  hr.beforeFooter {
    margin-top: 5rem;
  }

  #homeFooter {
    margin: 0 10%;
  }

  #homeFooter, #homeFooter p {
    font-size: 3.5vw;
  }
}


@media (min-width: 1000px) {
  
  .standart-row {
    padding: 1% 15%;
    font-size: 2.5vh;
    min-height: 100%;
  }

  #mainHeader {
    min-height: 100%;
  }

  #mainHeader .col {
    margin: auto 5%;
  }

  #mainHeader h3 {
    font-size: 2.0rem;
  }

  #mainHeader h2 {
    font-size: 2.8rem;
    margin-bottom: 3rem;
  }

  #mainHeader p {
    font-size: 1.4rem;
    max-width: 80rem; 
    margin: 1rem 5rem 0.8rem 0;
  }

  #mainHeader span {
    font-size: 1.3rem;
  }

  #infoButton {
    margin-top: 3rem;
  }

  #contactButton {
    margin-top: 3rem;
    margin-left: 1.5rem;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
  }

  #mainInfo li {
    padding: 0.2rem 0;
  }

  #mainInfo h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.9rem;
    font-size: 2.0rem;
    font-weight: bold;
  }

  ul, p {
    font-size: 1.6rem;
  }

  #workInfo ul {
    list-style-type: '\261E';
  }

  #workInfo .collapse-info li {
    padding-left: 1rem;
  }

  #workInfo .second-info {
    font-size: 1rem;
    font-family: Georgia, serif;
    font-style: normal;
    margin: 0;
  }

  #workInfo li {
    margin-left: 1rem;
    padding: 0;
  }

  h4.map-header {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  p.contact-header {
    font-size: 1.7rem;
  }

  .fa-1x {
    font-size: 2.8rem;
  }

  .contact-info {
    font-size: 1.3rem;
    margin: 0 auto;
  }

  #google-map {
    margin: 1rem auto 1rem auto;
    height: 30vw;
    width: 100%;
    text-align: center;
  }

  #google-map iframe {
    height: 100%;
    width: 100%;
  }

  #homeFooter {
    margin: 0 15%;
  }

  #homeFooter p {
    font-size: 1.3rem;
  }
} 