/* home page */
.standart-row {
  padding: 8% 4%;
  min-height: 100%;
  font-size: 2.5vh;
}

#home-header {
  background-image: url(./../background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #007bff;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#home-header h1 {
  font-size: 3em;
  margin-top: 5%;
}

#header-info {
  font-family: Foglihten Regular, Georgia, fantasy, serif;
  font-size: 1.2em;
  padding-left: 6%;
  padding-top: 2%;
}

#arrows {
  margin: 0 40%;
  width: 20%;
}

#mainInfo {
  font-family: Georgia, sans-serif;
  font-style: italic;
}

#mainInfo h2 {
  font-size: 2em;
}

.horizontal-line {
  margin-top: -5rem;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#map-icon {
  top: -2rem;
  left: 47%;
  width: 6%;
  text-align: center;
  background-color: white;
  position: relative;
}

.map-header {
  font-family: Georgia, sans-serif;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: -1rem;
}

#map {
    margin: 1rem auto 8rem auto;
    height: 80%;  /* The height is 400 pixels */
    width: 80%;  /* The width is the width of the web page */
}

.contact-info {
  width: 60%;
  margin: auto;
  color: gray;
}