#main-header {
  margin-top:50px;
  margin-bottom: 20px;
}

#header-link {
  text-decoration: none;
  color: blue;
  font-family: cursive;
  font-style: italic;
}

#second-header {
  margin-bottom: 10px;
}

#add-button {
  margin-bottom: 10px;
}

#dual-number {
  font-size: 1.5em;
  margin-bottom: 0;
}

tbody>td {
  font-size: 1.25em;
  vertical-align: middle;
}

#back-button {
  margin-bottom: 20px;
}

#calendar, #calendar1 {
  border-right: 1px solid rgba(0,0,0,.15);
}

.card {
  font-size: 1.1em;
  font-weight: bold;
}

