/* home page */
#home-header {
  padding-top:50px;
  margin-bottom: 20px;
  color: #007bff;
}

#contentList {
  padding: 20px;
}

#homeContainer {
  background-color: white;
}

#mainInfo {
  border: 2px solid #007bff;
  border-radius: 15px;
  padding: 20px;
  font-family: cursive;
  font-style: italic;
  font-size: 1.5em;
}

#home-buttons {
  margin-top: 20px;
}

#login-url {
  color: black;
}

#questionsHeader {
  font-style: italic;
  margin: 25px 0;
}

#myList {
  font-size: 1.25em;
}

/* main page */
#main-header {
  margin-top:50px;
  margin-bottom: 20px;
}

h1 {
  color: #007bff;
  font-family: cursive;
  font-style: italic;
}

#navbar {
  margin-bottom: 20px;
}

#second-header {
  margin-bottom: 10px;
}

/* report pages */
#add-report {
  padding: 0.5rem 0.75rem;
  float: right;
}

#divInputNumber {
  display: flex;
}

#dual-number {
  font-size: 1.5em;
  margin: 0 10px 0 10px;
}

tbody>td {
  font-size: 1.25em;
  vertical-align: middle;
}

#calendar, #calendar1, #calendar2 {
  border-right: 1px solid rgba(0,0,0,.15);
}

.form-error {
  margin-top: -0.75rem;
  font-size: 0.875rem;
  color: #dc3545;
}

.card {
  font-size: 1.1em;
  font-weight: bold;
}

.filter {
  border: 2px solid orange;
  border-radius: 10px;
  margin-left: 50px;
  height: 100%;
  max-height: 500px;
  padding: 10%;
  min-width: 140px;
}

.input-date {
  margin-right: 5px;
  margin-left: 5px;
}

#filter-button {
  margin-top: 40px;
}

.no-style-link:hover {
  text-decoration: none;
}

/* participant pages */
#back-button {
  margin-bottom: 20px;
}

.participants {
  margin-bottom: 15px;
}

.participant {
  font-size: 1.25rem;
  display: inline-block;
}

#main-participants table {
  font-size: 1.3rem;
}

#main-participants th {
  text-align: right;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* detail pages */
#report-detail-header {

}

.card {
  font-weight: normal;
}

h3.event-second-header {
  margin: 0.5em 0 1.5em 0;
  color: #008B8B;
}

input, textarea, select {
  max-width: 350px;
}

.col-form-label {
  text-align: right;
}

.button-group {
  margin-top: 50px;
}



