{% extends "freports/base.html" %}

{% block title %}
<div class="col">
    <span class="h1">Список транзакцій по рахунку {{ object.title }}</span> <span class="badge badge-info">Alpha</span>
</div>
{% endblock title %}

{% block extra_messages %}
{% endblock extra_messages %}

{% block content %}

<a type="button" class="btn btn-light mb-3"
    href="{% url 'finance:accounts_list' %}">Повернутись до списку рахунків</a>

{% if object_list %}
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Тип транзакції</th>
            <th scope="col">Замовлення</th>
            <th scope="col">Сума</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in object_list %}
        <tr class="{% if transaction.model_name == 'Виконання' %}text-danger{% else %}text-success{% endif %}">
            <th scope="row">{{ transaction.date }}</th>
            <td>{{ transaction.model_name }}
            <td>{{ transaction.order.name }}</td>
            <td>{{ transaction.amount }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <th scope="row" class="text-center table-info h5">Залишок по рахунку</th>
            <td class="{% if object.total_sum >= 0 %}text-success{% else %}text-danger {% endif %} table-info h5">{{ object.total_sum }}</td>
    </tbody>
</table>

{% if is_paginated %}
    {% include 'finance/pagination.html' with items=page_obj url_next="finance:detail_account" parametr=object.id order_by=request.GET.order_by reverse=request.GET.reverse %}
{% endif %}

{% else %}
<p>Ще немає даних</p>
{% endif %}

{% endblock content %}