{% extends "freports/base.html" %}

{% block sidebar %}
<!-- Sidebar -->
<nav id="sidebar" {% if request.COOKIES.sidebar %}class="active"{% endif %}>
    <div>
        <div class="sidebar-header">
            <span class="h2">Фінанси</span>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="{{ url_orders }}">Список замовлень <span class="badge badge-info">Alpha</span></a>
            </li>
            <li class="active">
                <a href="{{ url_accounts }}">Список рахунків <span class="badge badge-info">Alpha</span></a>
            </li>
        </ul>
    </div>
</nav>
{% endblock sidebar %}

{% block title %}
<div class="col">
    <span class="h1">Список рахунків</span> <span class="badge badge-info">Alpha</span>
    <a class="btn btn-outline-info modal-button"
        id="add-report" href="{% url 'finance:add_account' %}">Додати рахунок</a>
</div>
{% endblock title %}

{% block extra_messages %}
{% endblock extra_messages %}

{% block content %}

{% if accounts %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">Назва рахунку</th>
            <th scope="col">Вид рахунку</th>
            <th scope="col">Вид зберезення</th>
            <th scope="col">Сума</th>
            <th scope="col">Надано в кредит</th>
            <th scope="col" class="group-buttons"></th>
<!--             <th scope="col">Дії</th> -->
        </tr>
    </thead>
{% endwith %}

    <tbody>

        {% for account in accounts %}
        <tr>

            <th scope="row">{{ account.title }}</th>
            <td>{{ account.get_status_display }}</td>
            <td>{% if account.cash %}Готівка{% else %}Безнал{% endif %}</td>
            <td>{{ account.total_sum }}</td>
            <td>{% if account.credit_cash %}{{ account.credit_cash }}{% endif %}</td>
            <td class="group-buttons">
                <a class="modal-button" href="{% url 'finance:delete_account' account.id %}"><i class="fa fa-trash-o"></i></a>
                <a class="modal-button" href="{% url 'finance:edit_account' account.id %}"><i class="fa fa-pencil"></i></a>
            </td>       
        </tr>
        {% endfor %}



    </tbody>
</table>

{% else %}
<p>Ще немає даних</p>
{% endif %}

{% endblock content %}