{% extends "freports/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<div class="col">
    <h2>{{ header }}</h2>
</div>
{% endblock title %}

{% block content %}

{% crispy form %}
<!-- <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" role="form">
    {% csrf_token %}


    <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
          <input type="submit" class="btn btn-primary" value="Зберегти"
                 name="save_button" id="save_button" />
          <input type="submit" class="btn btn-link"
                 name="cancel_button" value="Скасувати" />
        </div>
    </div>
</form> -->
{% endblock content %}