{% extends "freports/base.html" %}

{% block sidebar %}
{% include 'finance/sidebar.html' %}
{% endblock sidebar %}

{% block title %}
<div class="col">
    <span class="h1">Список надходжень</span> <span class="badge badge-info">Alpha</span>
    <a class="btn btn-outline-info modal-button" id="add-report"
        href="{% url 'finance:add_income' %}">Додати надходження</a>
</div>
{% endblock title %}

{% block extra_messages %}
{% endblock extra_messages %}

{% block content %}

<div id="incomes_list_filters" class="mb-3">
    <a class="btn btn-outline-primary" href="{% url 'finance:incomes_list' %}?period=current_month">За поточний місяць</a>
    <a class="btn btn-outline-info" href="{% url 'finance:incomes_list' %}?period=previous_month">За минулий місяць</a>
    <button class="btn btn-outline-secondary" id="filter-button" data-toggle="collapse" href="#filter" role="button" aria-expanded="{% if request.GET.filter_status %}true{% else %}false{% endif %}" aria-controls="collapseExample">Інший проміжок</button>
</div>

<div class="collapse {% if request.GET.filter_status %}show{% endif %}" id="filter">
    <div class="card card-body">
        {% if errors %}
        <div class="alert alert-danger" role="alert">
          Некоректно задано часовий проміжок!
        </div>
        {% endif %}
        <div class="filter">
            <form class="form-inline" action="{% url 'finance:incomes_list' %}{% if request.GET.status %}?{{ request.GET.status }}{% endif %}" method="get" enctype="multipart/form-data" role="form">
                <input type="hidden" name="filter_status" value="success" />
                <div class="form-group mb-1 mt-1">
                    <label for="inputDateArrived">Від</label>
                    <input type="text" id="inputDate"
                        class="date-input form-control mr-2 ml-2" data-target="#inputDate" autocomplete="off" name="date_from" data-toggle='datetimepicker'value="{{ request.GET.date_from }}" placeholder="2018-10-01" style="max-width:110px"/>
                    до<input type="text" class="date-input form-control mr-2 ml-2" data-target="#inputDate2" autocomplete="off" name="date_until" id="inputDate2" placeholder="2018-10-30" data-toggle='datetimepicker' 
                        value="{{ request.GET.date_until }}" style="max-width:110px"/>
                </div>
                <div class="form-group mb-1 mt-1" id="filter-button">
                    <input type="submit" class="btn btn-outline-info" value="Застосувати" />
                </div>
            </form>
        </div>
    </div>
</div>

{% if incomes %}
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Замовлення</th>
            <th scope="col">Рахунок</th>
            <th scope="col">Сума</th>
            <th scope="col">Платник</th>
            <th scope="col" class="group-buttons"></th>
        </tr>
    </thead>
    <tbody>
        {% for income in incomes %}
        <tr>
            <th scope="row">{{ income.date }}</th>
            <td>{{ income.order.name }}</td>
            <td>{{ income.account.title }}</td>
            <td>{{ income.amount }}</td>
            <td>
            {{ income.payer|default_if_none:"-" }}
            </td>
            <td class="group-buttons">
                <a href="{% url 'finance:delete_income' income.id %}" class="modal-button"><i class="fa fa-trash-o"></i></a>
                <a href="{% url 'finance:edit_income' income.id %}" class="modal-button"><i class="fa fa-pencil"></i></a>
            </td>       
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>Ще немає даних</p>
{% endif %}

{% endblock content %}