{% extends "freports/base.html" %}

{% block sidebar %}
{% include 'finance/sidebar.html' %}
{% endblock sidebar %}

{% block title %}
<div class="col">
    <span class="h1">Список замовлень</span> <span class="badge badge-danger">Beta</span>
    <a class="btn btn-outline-info modal-button" id="add-report"
        href="{% url 'finance:add_order' %}">Додати замовлення</a>
</div>
{% endblock title %}

{% block extra_messages %}
{% endblock extra_messages %}

{% block content %}

<nav class="nav nav-pills nav-justified" id="navbar-list">
    <a class="nav-item nav-link {% if request.GET.status == 'all' %}active{% endif %}" href="{% url 'finance:orders_list' %}?status=all">Усі <span class="badge badge-info">{{ content.all_orders }}</span></a>
    <a class=" nav-item nav-link {% if not request.GET.status %}active{% endif %}" href="{% url 'finance:orders_list' %}">Активні <span class="badge badge-success">{{ content.active_orders }}</span></a>
    <a class="nav-link nav-item {% if request.GET.status == 'inactive' %}active{% endif %}" href="{% url 'finance:orders_list' %}?status=inactive">Призупинені <span class="badge badge-secondary">{{ content.inactive_orders }}</span></a>
    <a class="nav-link nav-item {% if request.GET.status == 'done' %}active{% endif %}" href="{% url 'finance:orders_list' %}?status=done">Виконані <span class="badge badge-light">{{ content.done_orders }}</span></a>
</nav>

{% if orders %}
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">Назва замовлення</th>
            <th scope="col">Провадження</th>
            <th scope="col">Деталі</th>
            {% if request.GET.status == 'all' %}
            <th scope="col">Статус</th>
            {% endif %}
            <th scope="col">Кошторисна вартість</th>
            <th scope="col">Оплачено</th>
            <th scope="col">Виконано</th>
            {% if not request.GET.status or request.GET.status == 'all' %}
            <th scope="col">Невиконаний залишок</th>
            {% endif %}
            <th scope="col">Кількість тасків</th>
            <th scope="col" class="group-buttons"></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <th scope="row" width='15%'>
                <a class="{% if order.remainder %}text-success{% elif order.total_sum > order.done_sum %}text-secondary{% else %}text-info{% endif %}" href="{% url 'finance:detail_order' order.id %}">
                    {{ order.name }}
                </a>
            </th>
            <td>
                {% if order.report %}
                <a href="{% url 'freports:report_detail' order.report.id %}">
                    {{ order.report.full_number }}
                </a>
                {% endif %}
            </td>
            <td>
                {% if order.report %}
                {{ order.report.short_info|truncatechars:30 }}
                {% endif %}
            </td>
            {% if request.GET.status == 'all' %}
            <td>{{ order.get_status_display }}</td>
            {% endif %}
            <td>{{ order.total_sum }}</td>
            <td>{{ order.paid_sum }}</td>
            <td>{{ order.done_sum }}</td>
            {% if not request.GET.status or request.GET.status == 'all' %}
            <td>{{ order.remainder }}</td>
            {% endif %}
            <td>
            {% if order.tasks_number %}
            {{ order.tasks_number }}
            {% else %}
            -
            {% endif %}
            </td>
            <td class="group-buttons">
                <a href="{% url 'finance:delete_order' order.id %}" class="modal-button"><i class="fa fa-trash-o"></i></a>
                <a href="{% url 'finance:edit_order' order.id %}" class="modal-button"><i class="fa fa-pencil"></i></a>
            </td>       
        </tr>
        {% endfor %}
        <tr>
            <th colspan="{% if request.GET.status == 'all' %}4{% else %}3{% endif %}" class="text-center">
                Всього
                {% if request.GET.status == 'inactive' %}
                    по призупинених замовленнях
                {% elif request.GET.status == 'done' %}
                    по виконаних замовленнях
                {% elif not request.GET.status %}
                    по активних замовленнях
                {% endif %}

            </th>
            <td><strong>{{ content.total_sum }}</strong></td>
            <td><strong>{{ content.paid_sum }}</strong></td>
            <td><strong>{{ content.done_sum }}</strong></td>
            {% if not request.GET.status or request.GET.status == 'all' %}
            <td colspan="2"><strong>{{ content.remainder_sum }}</strong></td>
            {% endif %}
        </tr>

    </tbody>
</table>

{% else %}
<p>Ще немає даних</p>
{% endif %}

{% endblock content %}
