{% load static %}
<!DOCTYPE html>
<html lang="uk" ng-app="reports">
<head>
    <base href="/angular/">
    <meta charset="UTF-8" />
    <title>BudExpert</title>
    <link rel="shortcut icon" href="{{ PORTAL_URL }}{% static 'apple-icon-60x60.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Nunito:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/sidebar.css' %}" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.js"></script>

    <script src="{{ PORTAL_URL }}{% static 'js/external/dirPagination.js' %}"></script>

    <script src="{{ PORTAL_URL }}{% static 'js/app/app.module.js' %}"></script>
    <script src="{{ PORTAL_URL }}{% static 'js/app/app.config.js' %}"></script>

    <script src="{{ PORTAL_URL }}{% static 'js/app/core/report/report.module.js' %}"></script>
    <script src="{{ PORTAL_URL }}{% static 'js/app/core/report/report.service.js' %}"></script>

    <script src="{{ PORTAL_URL }}{% static 'js/app/report-list/report-list.module.js' %}"></script>
    <script src="{{ PORTAL_URL }}{% static 'js/app/report-list/report-list.component.js' %}"></script>

    <script src="{{ PORTAL_URL }}{% static 'js/app/utils/show-sidebar/show-sidebar.module.js' %}"></script>
    <script src="{{ PORTAL_URL }}{% static 'js/app/utils/show-sidebar/show-sidebar.directive.js' %}"></script>

    <script src="{{ PORTAL_URL }}{% static 'js/app/utils/nav-bar/nav-bar.module.js' %}"></script>
    <script src="{{ PORTAL_URL }}{% static 'js/app/utils/nav-bar/nav-bar.directive.js' %}"></script>

    <script src="{{ PORTAL_URL }}{% static 'js/app/utils/side-bar/side-bar.module.js' %}"></script>
    <script src="{{ PORTAL_URL }}{% static 'js/app/utils/side-bar/side-bar.directive.js' %}"></script>

</head>


<body>

    <nav-bar></nav-bar>

    <div class="wrapper">
        <side-bar ng-class="{ 'active': ! showSidebar }"></side-bar>

        <div id="content" class="container">
            <div class="row">
                <div class="col">
                    <button type="button" id="sidebarCollapse" class="navbar-btn" show-sidebar ng-click="showSidebar = ! showSidebar" ng-class="{ 'active': ! showSidebar }">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- <report-list></report-list> -->
                    <div ng-view></div>
                </div>
            </div>

            <div class="row" id="footer">
                <div class="col-12">
                    <hr />
                    <p>Time Planner, 2017-2019 &copy; <a href="#">Адмінка</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script type="text/javascript" 
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/js/tempusdominus-bootstrap-4.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/uk.js"></script>
</body>