<span class="h1">Список проваджень</span>
<a class="btn btn-outline-info modal-button"
    id="add-report" href="">Додати провадження</a>

<nav class="nav nav-pills nav-justified" id="navbar-list">
    <a class="nav-item nav-link" href="" data="all" ng-click="setStatus($event)" ng-class="navButtonClass1">Усі <span class="badge badge-info">1</span></a>
    <a class="nav-item nav-link" href="" data="active" ng-click="setStatus($event)" ng-class="navButtonClass2">Активні <span class="badge badge-success">1</span></a>
    <a class="nav-link nav-item" href="" data="deactivate" ng-click="setStatus($event)" ng-class="navButtonClass3">Призупинені <span class="badge badge-secondary">1</span></a>
    <a class="nav-link nav-item" href="" data="executed" ng-click="setStatus($event)" ng-class="navButtonClass4">Закриті <span class="badge badge-light">1</span></a>
</nav>

<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                <a href="">
                    №
                </a>
            </th>
            <th scope="col">Адреса</th>
            <th scope="col">Позивач</th>
            <th scope="col">Відповідач</th>
            <th scope="col">Тип Об'єкту</th>
            <th scope="col">Вид Дослідження</th>
            <th scope="col">Дата надходження</th>
    </thead>

    <tbody>
        <tr dir-paginate="item in items | filter: filterStatus | orderBy: 'full_number' | itemsPerPage: 10 as reportItems" pagination-id="listReports" ng-class="itemRowColor(item)">
            <th class="td-link" ng-class="itemNumberColor(item)"scope="row"><p class="">{{ item.full_number }}</p></th>
            <td class="td-link">{{ item.address }}</td>
            <td class="td-link">{{ item.plaintiff }}</td>
            <td class="td-link">{{ item.defendant }}</td>
            <td class="td-link">{{ item.object_name }}</td>
            <td class="td-link">{{ item.research_kind }}</td>
            <td class="td-link td-date">{{ item.date_arrived }}</td>
        </tr>

    </tbody>

</table>

<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="/api/templates/pagination.html" ng-show="items" pagination-id="listReports"></dir-pagination-controls>