<div class="row" id="second-header">
	<div class="col-3"></div>
	<div class="col-9">
	    <h2 id="report-detail-header">Детальна інформація про провадження №{{ report.full_number }}</h2>
	</div>
</div>

<a type="button" class="btn btn-light mb-3"
    ng-click="backToList()">Повернутись до списку проваджень</a>

<div class="row" id="main-content">
	<div class="col-sm-12">
		<!-- Головні учасники справи -->
		<div class="row" id="main-participants">
		    <div class="col-sm-12">
		        <table class="table table-sm table-lg-responsive table-hover">
		            <tbody>
		                <tr>
		                    <th scope="row">Номер справи</th>
		                    <td>№{{ report.case_number }}</td>
		                </tr>
		                <tr>
		                    <th scope="row">Позивач<span ng-if="plaintiffs.length > 1">і</span></th>
	                        <td ng-if="plaintiffs.length">
	                        	<a ng-repeat="plaintiff in plaintiffs" class="no-style-link report-detail-item" href="">
		                            {{ plaintiff.full_name }}</a>
		                        <br ng-if="plaintiffs.length > 1">
		                        <a class="btn btn-outline-success badge modal-button" href="">Додати позивача</a>
	                        </td>
	                        <td ng-if="!plaintiffs.length">
	                        	<a class="no-style-link modal-button text-danger" href=""
	                            >Дані відсутні {{ plaintiff }}</a>
	                        </td>
		                </tr>
		                <tr>
		                    <th scope="row">Відповідач<span ng-if="defendants.length > 1">і</span></th>
	                        <td ng-if="defendants.length">
	                        	<span ng-repeat="defendant in defendants">
	                        	    <a class="no-style-link report-detail-item" href="">
		                                {{ defendant.full_name }}</a>
		                            <br ng-hide="$last">
		                        </span>
		                        
		                        <a class="btn btn-outline-success badge modal-button" href="">Додати відповідача</a>
	                        </td>
	                        <td ng-if="!defendants.length">
	                        	<a class="no-style-link modal-button text-danger" href=""
	                            >Дані відсутні</a>
	                        </td>
		                </tr>
		                <tr>
	                    	<th scope="row">Суддя</th>
		                    <td>
		                        <a class="no-style-link report-detail-item" href="">
		                            {{ report.judge_name.description }}</a>
		                    </td>
		                </tr>
		                <tr>
		                	<th scope="row">Об'єкт<span ng-if="report.subjects.length > 1">и</span> дослідження</th>
		                	<td ng-if="report.subjects.length">
		                		<span ng-repeat="subject in report.subjects">
	                        	    <a class="no-style-link report-detail-item" href="">
		                                {{ subject.short_name }}</a>
		                            <br ng-hide="$last">
		                        </span>
		                        <a class="btn btn-outline-success badge modal-button" href="">Додати об'єкт</a>
		                	</td>
		                	<td ng-if="!report.subjects.length">
		                		<a class="no-style-link modal-button text-danger" href=""
	                            >Дані відсутні</a>
		                	</td>
		                </tr>
		                <tr ng-show="report.cost">
		                    <th scope="row">Вартість</th>
		                    <td>{{ report.cost }}грн</td>
		                </tr>
		                <tr>
		                    <th scope="row">Днів у виконанні</th>
		                    <td>
		                        {{ report.active_days }}
		                    </td>
		                </tr>
		                <tr>
		                    <th scope="row">Статус провадження</th>
		                    <td>
		                        <span class="text-primary" ng-show="report.executed">Закрите</span>
		                        <span class="text-success" ng-show="report.active">Активне</span>
		                        <span class="text-secondary" ng-show="!report.executed && !report.active">Призупинене {{ report.waiting_days }} днів тому</span>
		                    </td>
		                </tr>
		                <tr>
		                	<th scope="row">Остання подія</th>
		                	<td>
		                        {{ report.last_event.date }}, {{ report.last_event.short_info }},
		                        {{ report.last_event.subspecies }}
                            </td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
	</div>

</div>