<!-- Start Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="modalForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header text-center" id="first-header">
                <div><h2>Зазначте номер нового провадження</h2></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- -->
            </div>
            <div class="modal-body text-center">
                <div id="divInputNumber">
                    <input type="text" class="form-control"
                        id="inputNumber" placeholder="500" name="number" value="{{ content.number }}">
                    <p id="dual-number">/</p>
                    <select class="form-control" name="number_year">
                        <option>013</option>
                        <option>014</option>
                        <option>015</option>
                        <option>016</option>
                        <option>017</option>
                        <option>018</option>
                        <option>019</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer text-center">
                  <input type="submit" class="btn btn-link" href=""
                         name="cancel_button" value="Скасувати" />
                  <input type="submit" class="btn btn-primary" value="Створити"
                         name="save_button" />
                  
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

<span class="h1">Список проваджень</span>
<button type=button class="btn btn-outline-info"
    id="add-report" data-toggle="modal" data-target="#modalForm" ng-click="addReport()">Додати провадження</button>

<nav class="nav nav-pills nav-justified" id="navbar-list">
    <a class="nav-item nav-link" href="" data="all" ng-click="setStatus($event)" ng-class="navButtonClass1">Усі <span class="badge badge-info">{{ items.length }}</span></a>
    <a class="nav-item nav-link" href="" data="active" ng-click="setStatus($event)" ng-class="navButtonClass2">Активні <span class="badge badge-success">{{ activeReports.length }}</span></a>
    <a class="nav-link nav-item" href="" data="deactivate" ng-click="setStatus($event)" ng-class="navButtonClass3">Призупинені <span class="badge badge-secondary">{{ deactivatedReports.length }}</span></a>
    <a class="nav-link nav-item" href="" data="executed" ng-click="setStatus($event)" ng-class="navButtonClass4">Закриті <span class="badge badge-light">{{ executedReports.length }}</span></a>
</nav>
<table class="table table-hover table-responsive-lg">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                <a href="" ng-click="sortBy('number')">
                    № <span ng-show="reverse">&darr;</span>
                    <span ng-show="!reverse">&uarr;</span>  
                </a>
            </th>
            <th scope="col">Адреса</th>
            <th scope="col">Позивач</th>
            <th scope="col">Відповідач</th>
            <th scope="col">Тип Об'єкту</th>
            <th scope="col">Вид Дослідження</th>
            <th scope="col">Дата надходження</th>
            <th scope="col" ng-show="status=='active' || !status">Днів у виконанні</th>
            <th scope="col" ng-show="status=='deactivate'">Днів в очікуванні</th>
            <th scope="col" ng-show="status=='executed'">Дата виконання</th>
            <th scope="col" ng-show="status=='active' || status=='deactivate' || !status">Остання дія</th>
    </thead>

    <tbody>
        <tr ng-show="spinner">
            <td colspan="9" class="text-center">
                <img id="spinner" src="https://thumbs.gfycat.com/LoneDetailedFairybluebird.webp">
            </td>
        </tr>
        <tr dir-paginate="item in items | filter: filterStatus | itemsPerPage: reportItems as itemsPaginated" pagination-id="listReports" ng-class="itemRowColor(item)" ng-click="showDetail(item.id)">
            <th class="td-link" ng-class="itemNumberColor(item)"scope="row"><p class="">{{ item.full_number }}</p></th>
            <td class="td-link">{{ item.address }}</td>
            <td class="td-link">{{ item.plaintiff }}</td>
            <td class="td-link">{{ item.defendant }}</td>
            <td class="td-link">{{ item.object_name }}</td>
            <td class="td-link">{{ item.research_kind }}</td>
            <td class="td-link td-date">{{ item.date_arrived }}</td>
            <td class="td-link td-date" ng-show="status=='active' || !status">{{ item.active_days }}</td>
            <td class="td-link td-date" ng-show="status=='deactivate'">{{ item.waiting_days }}</td>
            <td class="td-link td-date" ng-show="status=='executed'">{{ item.date_executed }}</td>
            <td class="td-link td-date" ng-show="status=='active' || status=='deactivate' || !status">{{ item.last_event.short_info }}</td>
        </tr>

    </tbody>

</table>

<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" template-url="/api/templates/pagination.html" pagination-id="listReports"></dir-pagination-controls>
<a class="btn btn-outline-primary ml-2" href="#" ng-show="itemsPaginated.length >= reportItems && items.length > reportItems" ng-click="showAll()">Показати всі</a>